body {
}

.about-me {
  text-align: center;
}

.about-me a {
  text-align: center;
  float: right;
}

.img-profile {
  max-width: 200px; 
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 50px;
}

.container {
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.175);
  box-shadow: 0 3px 3px rgba(0,0,0,0.175);  
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}
